.skills-section-light {
  background: linear-gradient(135deg, #f9fafb, #f3f4f6, #e5e7eb, #d1d5db);
  color: #1f2937;
}

/* .skills-section-light .skills-title {
  background: linear-gradient(to right, #0ea5e9, #6366f1);
} */

.skills-section-light .progress-bar {
  background-color: #e5e7eb;
}

.skills-section-light .progress-fill {
  background: linear-gradient(to right, #0ea5e9, #6366f1);
}

.skills-section-light .category-card {
  background-color: rgba(0, 0, 0, 0.03);
  border: 0.1px solid #d1d5db;
}

.skills-section-light .category-title {
  color: #1f2937;
}

.skills-section-light .category-list {
  color: #4b5563;
}
